/****************************
**      AntonVoronezh
****************************/

.main-block {
padding-top: 20px;
padding-bottom: 20px;
}

.main-first-news {
padding: 10px;
}

.main-second-news {
padding: 10px;
}