/****************************
**      AntonVoronezh
****************************/

.maincontent .container {
    display: flex;
    /* border: 1px solid #e20b0b; */
}

.line {
    margin-top: 2px;
    border-bottom: 1px solid #999999;
}

.main {
    width: 100%;
    /* border: 1px solid #f441ca; */
}

.name {}

.navigation {}

.main-block {}

.second-block {}

.links {}